body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

header h1 {
  width: 40%;
  margin: 20px auto;
  color: black;
  background-color: blanchedalmond;
  padding: 6px;
  text-align: center;
}

header {
  width: 100%;
  height: 250px;
  border: 1px solid blanchedalmond;
  background-image: url(luchtfoto-hoogeveen.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
  text-align: left;
}
footer {
  width: 100%;
  background-color: blanchedalmond;
  padding: 5px;
  clear: left;
  text-align: center;
}

.content {
  min-height: 200px;
}

.content img {
  display: block;
  width: 90%;
  margin: 0 auto;
}

[class*='col-'] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  [class*='col-'] {
    float: left;
    padding: 15px;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-9 {
    width: 75%;
  }

  .content img {
    width: 25%;
    float: right;
    margin: 5px;
  }
}
